@import './variables.scss';

.app {
  &__navigation {
    background-color: $secondary;    
  }

  &__content {
    background-color: $light-gray;
  }
}

.form {
  &__button-container {
    margin-left: 150px;
  }

  &__button {
    background-color: $primary !important;
    border-color: transparent !important;
    color: white !important;
  }
}

.badge {
  &__primary {
    background-color: $secondary !important;
    color: white;
    text-decoration: none;
  }

  &__primary:hover {
    background-color: $primary;
    color: white;
  }


}