@import './variables.scss';

.app {
  &__navigation {
    background-color: $secondary;    
  }

  &__content {
    background-color: $light-gray;
  }
}

.form {
  &__title {
    background-color: white;
    color: $primary;
    font-weight: bold;
    height: 80px;
  }

  &__container {
      background-color: white;
  }

  &__label {
      font-weight: bold;
      margin-top: 10px;
  }

  &__input {
      width:300px ;
      height: 37px;
      border: 1px solid #dadada;
      border-radius: 5px !important;
  }

  &__input-100 {
    width:100%;
    height: 37px;
    border: 1px solid #dadada;
    border-radius: 5px !important;
}

  &__button-container {
    margin-left: 150px;
  }

  &__button {
    background-color: $primary !important;
    border-color: transparent !important;
    color: white !important;
  }
}


.badge {
  &__primary {
    background-color: $secondary !important;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  &__text {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
    

  &__primary:hover {
    background-color: $primary;
    color: white;
  }
}

.image {
  &__container {
    background-color:white, 
  }

  &__thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.font {
  &__bold {
    font-weight: bold;
  }

  &__burnt-sienna {
    color: $burnt-sienna;
  }
}