$charcoal: #264653ff;
$charcoal-hover: rgb(47, 87, 102);
$persian-green: #2a9d8fff;
$orange-yellow: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$burnt-sienna-hover:rgb(235, 134, 109);
$white: #fff;
$dark: #252422;
$dark-hover: #413f3b;