$charcoal: #264653ff;
$charcoal-hover: rgb(47, 87, 102);
$persian-green: #2a9d8fff;
$orange-yellow: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$burnt-sienna-hover:rgb(235, 134, 109);
$white: #fff;
$dark: #252422;
$dark-hover: #413f3b;

$primary: #F2711C;
$secondary: #234F5B;
$light-gray: #E5E5E5,


// black: '#1B1C1D',
// blue: '#2184D0',
// brown: '#A4673F',
// dark: '#252526',
// darkGrey: '#656E79',
// light: '#F7F7F7',
// // light: '#E5E5E5',
// lightGrey: '#D6D6D6',
// red: '#DA2828',
// green: '#21B945',
// grey: '#BFC1C2',
// olive: '#B4CC17',
// pink: '#E7B1D0',
// purple: '#A233C7',
// teal: '#04B5AC',
// violet: '#6535C9',
// white: '#FFFFFF',
// yellow: '#FBBC0A',