@import "../../styles/variables.scss";

.form {
    &__title {
        background-color: white;
        color: $primary;
        font-weight: bold;
        height: 80px;
    }

    &__container {
        background-color: white;
    }

    &__label {
        font-weight: bold;
        margin-top: 10px;
    }

    &__input {
        width:300px;
    }
}
