@import "../../styles/variables.scss";

.main-page {
    background-color: white !important;
    height: 80px;

    &__button {
        background-color: $primary !important;
        border-color: transparent !important;
    }
}