@import "../../styles/variables.scss";

.page {
    background-color: white !important;
    height: 80px;

    &__button {
        background-color: $primary !important;
        border-color: transparent !important;
    }
    &__title {
        background-color: white;
        color: $primary;
        font-weight: bold;
        height: 80px;
    }

    &__container {
        background-color: white;
    }
}


