@import "../../styles/variables.scss";

.button {
    &__primary {
        background-color: $primary !important;
        border-color: transparent !important;
        color: white !important;
    }
}